* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    font-size: 2rem;
    color: rgba(128, 128, 128, 0.815);
}

.label.error {
    color: rgba(255, 0, 0, 0.603);
}

.form input {
    font-size: 2rem;
    padding: .2rem 1rem;
    border: none;
    border-bottom: 2px solid rgba(128, 128, 128, 0.342);
    outline: transparent;
    transition: 200ms ease-in-out;
}

.form input:focus {
    border-color: gray;
    background-color: transparent;
}

.main {
    display: flex;
    align-items: center;
    gap: 5rem;
    width: 90%;
    justify-content: center;
    margin-top: 2rem;
}

.icon img{
    width: 200px;
}

.main .temp {
    font-size: 10rem;
    font-weight: 100;
    width: auto;
}

.degree {
    font-size: 80px;
    color: rgba(128, 128, 128, 0.815);
}

.icon-text {
    font-size: 25px;
}

.icon-text-feelslike {
    font-size: 15px;
}

.main .weather-data {
    width: 200px;
    /* text-align: center; */
}

.weather-data {
    color: rgba(128, 128, 128, 0.815);
    font-size: 2.1rem;
}

.weather-data p {
    margin-bottom: 1.1rem;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons button {
    padding: 1rem;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    color: rgba(128, 128, 128, 0.815);
    transition: 300ms;
}

.buttons button:hover {
    cursor: pointer;
    color: black;
}

.buttons p {
    font-size: 2rem;
    font-weight: 100;
    color: rgba(128, 128, 128, 0.815);
}

button.active {
    color: black;
}